In [ ]:
INTRODUCTION TO PYTHON PROGRAMMING

In [ ]:
understanding the variables in Python

In [7]:
a = 120

In [8]:
b = 43

In [10]:
c = a+b

In [11]:
print(c)

163

In [ ]:
Rules for declaring the variables

In [ ]:
Rule 1 no name space while declaring the variable name

In [12]:
frist name = shruthi

SyntaxError: invalid syntax (737459261.py, line 1)

In [13]:
print(frist name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (969543390.py, line 1)

In [16]:
fristname = "shruthi"

In [17]:
print(fristname)

shruthi

rule 2 A variable name should not start with number

In [19]:
23name = "shruthi"

SyntaxError: invalid decimal literal (399141756.py, line 1)

In [20]:
name23="shruthi"

In [21]:
print(name23)

shruthi

In [ ]:
rule 3 A variable name should not contain any special character

In [22]:
name& = "shruthi"

SyntaxError: invalid syntax (647728760.py, line 1)

In [ ]:
Introduction to datatypes in python

In [ ]:
string

In [ ]:
number

In [ ]:
list

In [ ]:
tuples

In [ ]:
dictionaries

In [ ]:
classification of datatype

In [ ]:
mutable datatypes   edit and alter

In [ ]:
immutable datatypes   cannot edit and alter

In [ ]:
Introduction to string datatype

In [ ]:
A string is a series of characters declared in quotes

In [ ]:
it is classified as an immutable datatype

In [ ]:
it can be in single quote or double quote

In [ ]:
Intoduction to string methods

In [23]:
type(name)

str

In [24]:
name = "shruthi"

In [25]:
print(name)

shruthi

In [26]:
print(name.title())

Shruthi

In [27]:
print(name.upper())

SHRUTHI

In [28]:
print(name.lower())

shruthi

In [ ]:
commenting the code

In [ ]:
# is used for commenting the code