In [ ]:
understanding the looping statement

In [ ]:
implementation of the for loop

In [ ]:
#general syntax of the for loop

In [ ]:
for tempvar in mainvar:
    print(tempvar)

In [1]:
students=['ananya','nasrin','visesha','zeeshan','kumar','arvind']

In [2]:
print(students)

['ananya', 'nasrin', 'visesha', 'zeeshan', 'kumar', 'arvind']

In [4]:
type(students)

list

In [5]:
print(f"keep up the good work,{students[0].title()}")

keep up the good work,Ananya

In [ ]:
for x in students:

In [9]:
    print(f"keep up the good work,{x}")

keep up the good work,['ananya', 'nasrin', 'visesha', 'zeeshan', 'kumar', 'arvind']

In [10]:
for a in students:
    print(f"keep up the good work,{a}")

keep up the good work,ananya
keep up the good work,nasrin
keep up the good work,visesha
keep up the good work,zeeshan
keep up the good work,kumar
keep up the good work,arvind

In [11]:
for a in students:
    print(f"keep up the good work,{a}")
    print(f"do submit your work,{a}")

keep up the good work,ananya
do submit your work,ananya
keep up the good work,nasrin
do submit your work,nasrin
keep up the good work,visesha
do submit your work,visesha
keep up the good work,zeeshan
do submit your work,zeeshan
keep up the good work,kumar
do submit your work,kumar
keep up the good work,arvind
do submit your work,arvind

In [12]:
for a in students:
    print(f"keep up the good work,{a}")
    print(f"do submit your work,{a}\n")

keep up the good work,ananya
do submit your work,ananya

keep up the good work,nasrin
do submit your work,nasrin

keep up the good work,visesha
do submit your work,visesha

keep up the good work,zeeshan
do submit your work,zeeshan

keep up the good work,kumar
do submit your work,kumar

keep up the good work,arvind
do submit your work,arvind

In [ ]:
Indentation error

the space should be the before print

In [13]:
for a in students:
print(f"keep up the good work,{a}")

IndentationError: expected an indented block after 'for' statement on line 1 (657752896.py, line 2)

In [ ]:
Introduction to tuple datatype

defination An immutable list is called a tuple
classifiation : it is classified as an immutable datatype
    how to define the tuple --- ()

In [14]:
students=('ananya','nasrin','visesha','zeeshan','kumar','arvind')

In [15]:
type(students)

tuple

In [ ]:
# req change name nasrin to sonali

In [16]:
students[1]='sonali'

TypeError: 'tuple' object does not support item assignment

In [17]:
print(students[1].title())

Nasrin

In [18]:
for a in students:
    print(a)

ananya
nasrin
visesha
zeeshan
kumar
arvind

In [20]:
for a in students:
    print(a.title())

Ananya
Nasrin
Visesha
Zeeshan
Kumar
Arvind

In [21]:
dimensions=(200,50)
print(dimensions)

(200, 50)

In [22]:
type(dimensions)

tuple